@font-face {
  font-family: Courgette;
  src: url("Courgette.ttf") format("truetype");
}
@font-face {
  font-family: PermanentMarker;
  src: url("PermanentMarker.ttf") format("truetype");
}
@font-face {
  font-family: Rocker;
  src: url("Rocker.ttf") format("truetype");
}
body {
  background: rgb(60, 9, 7);
  background: linear-gradient(
    90deg,
    rgba(60, 9, 7, 1) 0%,
    rgba(240, 10, 10, 1) 47%,
    rgba(97, 7, 7, 1) 100%
  );
  height: 100%;
  overflow-x: hidden;
}
h1 {
  font-family: "PermanentMarker";
}
.avatar {
  margin: 2.3rem 0 0 2.61rem;
  border-radius: 5rem !important;
  height: 200px;
  width: 200px;
}
.salute {
  font-size: 1.7rem;
  font-family: Courgette;
  /*font-family: 'Reggae One', cursive;*/
  color: #33cacc;
  margin-right: 30%;
  margin-left: 20%;
}
.button {
  border: 0.7px solid #217759;
  background-color: tan;
  color: rgb(255, 250, 240);
  font-size: larger;
  text-align: center;
  border-radius: 15%;
  font-family: cursive;
  padding: 0.4rem;
  text-decoration: none;
}
.link {
  /* RESET */
  text-decoration: none !important;
  line-height: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;
  color: rgb(255, 250, 240);
  vertical-align: bottom;
  transition: color .3s ease-out;
}

.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  transition: transform .25s ease-out;
}

.link:hover { 
  color: #fff; 
}
.link:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}

footer {
  background-image: url("images/footer_red.png");
  width: 100%;
  background-size: 100% 100%;
}
footer > a{
  text-decoration: none;
  color: rgb(255, 250, 240);
   letter-spacing: 1px;
}
.wrapper > p {
  position: relative;
  bottom: 1.15rem; /*20px*/
  color: rgb(255, 250, 240);
  padding-left: 3%;
  font-size: 1.15rem;
}

.right {
  text-align: left;
  font-weight: lighter;
  font-family: cursive;
  bottom: -4rem;
  left: 70%;
}
.left {
  right: 17%;
  bottom: -9rem;
  text-align: left;
}
